footer {
    
    bottom: 0.5%;
    width: 98.9%;
    padding: 0.5em;
    left:-0.1%;
    box-shadow: 0 0 10px #549ad8;
    border: 2px solid #549ad8;
  }
  
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons {
    display: flex;
    font-size: 1.3em;
  }
  
  .line {
    width: 30%;
    text-align: center; 
     
  }
  
  .line hr {
    margin: 0; 
  }
  
  .f-icon {
    margin-right: 1em;
    font-size: 1.3em;
  }
  
  .copyright {
    text-align: right;
    font-size: large;
    margin-right: 2%;
  }
  