footer {
    
    bottom: 0.5%;
    width: 128.9%;
    padding: 0.5em;
    margin-left:-15.5%;
    /* box-shadow: 0 0 10px #549ad8; */
    border: 1px solid grey;

  }
  
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons {
    display: flex;
    font-size: 1.3em;
  }
  
  .line {
    width: 30%;
    text-align: center; 
     
  }
  
  .line hr {
    margin: 0; 
  }
  
  .f-icon {
    margin-right: 1em;
    font-size: 1.3em;
    color: black
  }
  
  .copyright {
    text-align: right;
    font-size: large;
    margin-right: 12%;
  }
  