.mainSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 110%;
  margin-top: 2%;
 background-color: #d6eaea;
 margin-left: -4%;
}

/* Styles for content box */
.contentBox {
  width: 40%;
  /* Adjusted margin-left to move the content box to the left */
  margin-left: -11%;
  margin-top: 4%;
}

.contentBox h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contentBox p {
  font-size: 1.3rem;
  line-height: 1.9;
  font-weight: 400;
}

.btnBox {
  margin-top: 20px;
}

.readMore {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.readMore:hover {
  background-color: #0056b3;
}

/* image container*/
.landing-img {
  width: 59%; /* Adjusted width of the image */
  border-radius: 2%;
  margin-left: 0%;
}


.landing-img:hover {
  transform: scale(1.05); 
}

/* Styles for the image container */
.imageContainer {
  width: 100%; /* Adjust width as needed */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-right: 90%;
}

/* Styles for the image */
.imageContainer img {
  margin-right: 90%;
}

/* Other styles remain unchanged */

.landing-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
  width: 90%;
  position: relative;
  margin-left: 18%;
}

.landing-card:hover {
  transform: scale(1.05);
}

.landing-card img {
  width: 40%;
  height: auto;
}

.landing-cardContent {
  padding: 15px;
  margin: 10px;
  height: 70%;
}

.landing-cardContent h2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.landing-cardContent p {
  font-size: 1rem;
  line-height: 1.4;
}

.landing-cardContent .readMore {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.landing-cardContent .readMore:hover {
  background-color: #0056b3;
}

.services .cards-landing {
  display: flex;
  margin-left: -10%;
  
}

.services .card-landing {
  flex: 0 0 calc(33.33% - 20px);
  /* box-shadow: 0 0 10px #549ad8; */
  border: 1px solid grey;
  background: #fff;
  padding: 40px 10px;
  list-style: none;
  border-radius: 7px;
  ;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
  margin-right: 70px;

}

.services .card-landing:last-child {
  margin-right: 0;
}

.services .card-landing img {
  width: 100%; 
  height: auto; 
  border-radius: 7px 7px 0 0; 
  object-fit: cover;
}

.cards-landing .card-landing p {
  padding: 0 15px;
  margin-top: 5px;
}
.explore-course
{

  margin-left:-112%;
  font-size: 1.1rem;
}
p{
  font-size:1.2rem;;
}
.landing-viewmore
{
  margin-bottom:5% ;
  margin-left:91%;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.landing-viewmore:hover
{
  background-color: #0056b3;
}