.login-container {
    float: left;
    width: 600px; 
    padding: 50px 0; 
    margin-top: 6%; 
    margin-left: 25%; 
    background: rgb(239, 239, 239); 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px #549ad8;
    border: 1px solid #549ad8;
}


.login-sec{
    padding: 50px 30px; 
    position:relative;
    
}

/* for login text and for line*/

.login-sec h2{
    margin-bottom:30px;
    font-weight:800;
    font-size:30px; 
    color: #007bff;
}

.login-sec h2:after{
    content:" ";
    width:40px;
    height:5px;
    background:#007bff;
    display:block;
    margin-top:20px; 
    border-radius:4px; 
    margin-left:6%;
    margin-right:auto;
}

.btn-login{
    background: #428bca;
    color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-form .form-group {
    margin-bottom: 30px;
}

.login-form .form-group .text-center {
    text-align: center;
    margin-top: 20px;
}

.text-center-login {
    font-size: 43px;
    font-weight: 700;
    color: #007bff;
    text-decoration: none;
    position: relative;
    margin-top: -30px;  
}

.text-center-login::after {
    content: "";
    display: block;
    width:30px;
    height: 3px;
    background-color: #007bff;
    position: absolute; 
    bottom: -10px;
    left: 40%;
}


/* name,password,email*/
.login-form label {
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    position: relative;
    text-align: left;font-style:inherit;
   
  }
  .login-form .text-danger {
    color: #dc3545; /* Error text color */
    font-size: 18px; /* Error text font size */
    margin-top: 8px;
    text-align: center;
}
.login-form .form-control {
    margin: auto;
    height: 30px;
    width: 90%;
    border-radius: 6px;
    border: 1px solid #d5d3d3;
    padding: 10px;
    font-size: 14px;
}
.login
{
   
        background: #428bca;
        color: #fff;
        border-radius: 3px;
        padding: 10px 20px;
        font-size: 17px;
        border: none;
        cursor: pointer;
      
}