
.services {
    padding: 50px 0;
  }
  

  .s-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 0 auto; 
  }
  

  .s-card {
    width: 32%;
    margin: 10px;
    text-align: center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition: 0.3s ease-in-out; 
  }
  

  .s-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
  }

  .s-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  
  .s-card h3 {
    font-size: 20px;
    margin: 15px 0; 
  }
  
  